.card {
    display: flex; // Affiche en ligne
    align-items: flex-start; // Aligne en haut
    border-radius: 10px;
    overflow: hidden;
    margin-top: 60px;
    padding: 20px;


    .maison-img {
        border-radius: 16px;
        width: 500px;
        height: 390px;
        object-fit: cover;
    }

    .card-right {
        display: flex;
        flex-direction: row; // Place les cartes en ligne
        gap: 20px; // Espacement entre chaque carte
        margin-left: 20px; // Espace entre l'image et les cartes

        .card-renovation,
        .card-energie,
        .card-adaptation {
            display: flex; // Permet d’aligner les éléments de la carte en colonne
            flex-direction: column; // Aligne les éléments verticalement
            background-color: white;
            border-radius: 16px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 270px;
            height: 390px;
            padding: 20px;
        }

        .card-title {
            font-weight: bold;
            margin-top: 10px;
        }

        .card-button {
            margin-top: auto; // Pousse le bouton vers le bas de la carte
            padding: 10px 15px;
            border-radius: 8px;
            text-align: center;
            font-weight: 500;
            transition: all 0.5s;

            &-primary {
                margin-top: 70px;
                border: 1px solid #2E2E2E;
                color: #2E2E2E;

                &:hover {
                    border-color: #005e00;
                    color: #005e00;
                }
            }

            &-secondary {

                color: #2E2E2E;

                &:hover {
                    background-color: #defdde;
                    color: #003f00;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    /* Styles pour les écrans plus petits */
    .card {
        display: flex;
        flex-direction: column; /* Colonne sur les petits écrans */
        align-items: center;
    }

    .card .card-right{
        flex-direction: column;
        align-items: center;
    }

    .maison-img {
        width: 100%; /* Prend toute la largeur de l’écran */
        height: auto; /* Ajuste la hauteur pour garder le ratio */
        border-radius: 16px ;
    }

    .card-right {
        display: flex;
        flex-direction: column; /* Empile les cartes verticalement */
        margin-top: 20px;
        width: 100%; /* Prend toute la largeur de l'écran */
    }

    .card-renovation,
    .card-energie,
    .card-adaptation {
        width: 100%; /* Prend toute la largeur disponible */
        height: auto; /* Ajuste la hauteur automatiquement */
        
    }
}