.element-savoir {
    display: flex;
    margin-top: 100px;
    height: 216px;
    border-radius: 24px;
    justify-content: space-between;
    padding: 64px;
    background-color: #E7F9EA;

}

.title-savoir {
    font-weight: bold;
    font-size: 36px;
    color: #004D26;

    .effect-green {
        color: #00BD5E;
    }
}

.button-savoir {
    width: 258px;
    height: 56px;
    padding: 24px; /* Ajout du padding */
    display: flex ;
    align-items: center; /* Centre le texte verticalement */
    justify-content: center; /* Centre le texte horizontalement */
    border-radius: 8px;
    font-weight: 600;
    background-color: #00BD5E;
    color: #FAFAFA;

    transition: background-color .5s;
    &:hover {
        background-color: #01994d;
    }
}

@media (max-width: 768px) {
    .element-savoir {
        margin-top: 500px; /* Ajustez si nécessaire */
        height: auto; /* Laisse la hauteur s'ajuster */
        flex-direction: column; /* Change la direction en colonne */
        align-items: center; /* Centre les éléments horizontalement */
        padding: 32px; /* Réduire le padding pour les petits écrans */
        background-color: #004D26;
    }

    .title-savoir {
        font-size: 28px;
        color: #FAFAFA;
        gap: 16px;
        
        .effect-green {
            color: #B1F6BD;
        }
    }

    .text-savoir {
        margin-top: 20px;
        color: #FAFAFA;
        font-size: 18px;
        text-align: center; /* Centre le texte */
    }

    .button-savoir {
        display: flex;
        background-color: #B1F6BD;
        color: #004D26;
        margin-top: 20px; /* Ajoute un espacement au-dessus du bouton */
    }
}