.footer {
    display: flex;
    flex-direction: column;    // Affiche les éléments internes en colonne
    align-items: center;       // Centre .footer-border horizontalement
    height: 428px;
    padding: 64px 64px 32px 64px;
    gap: 32px;
    background-color: #1F1F1F;
}




.container-footer {
    display: flex;               // Affiche .footer-renovation et .footer-energie en ligne
    gap: 32px;                   // Espacement entre les deux sections
    width: 100%;                 // S'étend sur toute la largeur
    justify-content: space-between;
}

.footer-renovation, .footer-energie, .footer-adaptation, .footer-ressources, .footer-propos {
    display: flex;
    flex-direction: column;      // Garde les éléments internes en colonne
    gap: 8px;                    // Séparation entre les éléments internes
    font-size: 18px;
    font-weight: 400;

    h1{
        color: #E7F9EA;
        font-size: 16px;
        gap: 8px;
    }

    span{
        color: #D4D4D4;
        font-size: 18px;
        gap: 8px;
    }
}

.footer-border {
    margin-top: 40px;
    width: 100%;                 // Prend toute la largeur du footer
    max-width: 1384px;           // Limite la largeur maximale
    border: 1px solid #404040;
}

.bottom-footer{
    display: flex;
    width: 1384px;
    height: 29px;
    justify-content: space-between;
}


.bottom-footer-mot {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.bottom-footer-mot a {
    color: #D4D4D4;
    text-decoration: none;
    font-size: 16px;
    padding: 0 10px;
    border-right: 1px solid #404040; /* Ligne de séparation à droite de chaque lien */
}

.bottom-footer-mot a:last-child {
    border-right: none; /* Pas de bordure pour le dernier lien */
}
