@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Styles de la navbar */
.navbar {
  height: 98px;
  background-color: #dadada;
  position: relative; /* Position relative pour le menu déroulant */
}

/* Contenu de la navbar */
.navbar-content {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

/* Liens de navigation */
.navbar-links {
  display: flex;
  gap: 32px;
  font-weight: 500;
  color: #404040;
}

/* Logo et menu à gauche */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 48px;
}

/* Boutons à droite */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Styles pour les boutons */
.navbar-buttons {
  display: flex;
  gap: 16px;
}

.navbar-button {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  height: 50px;
}
.navbar-button-secondary {
  border: 1px solid #2E2E2E;
  color: #2E2E2E;
  font-weight: 500;
  transition: border-color 0.5s, color 0.5s;
}
.navbar-button-secondary:hover {
  border-color: #00BD5E;
  color: #00BD5E;
}
.navbar-button-primary {
  background-color: #00BD5E;
  color: #FAFAFA;
  font-weight: 600;
  transition: background-color 0.5s;
}
.navbar-button-primary:hover {
  background-color: #01994d;
}

/* Styles du menu burger */
.navbar-burger {
  display: none; /* Masqué par défaut */
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
  color: #404040;
}

/* Styles pour le menu déroulant */
.navbar-dropdown {
  display: none; /* Masqué par défaut */
  flex-direction: column;
  position: absolute;
  top: 60px; /* Ajuste la position en dessous de la navbar */
  right: 0;
  width: 100%;
  background-color: #dadada;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le dropdown */
  z-index: 1000; /* Assure que le dropdown est au-dessus des autres éléments */
}

/* Affichage du menu déroulant quand actif */
.navbar-dropdown.active {
  display: flex; /* Affiche le menu */
}

/* Styles pour petits écrans */
@media (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 16px;
  }
  .navbar-content {
    padding: 8px;
    justify-content: space-between; /* Le logo reste à gauche et le burger à droite */
  }
  .navbar-links, .navbar-buttons {
    display: none; /* Cache les liens de navigation */
  }
  .navbar-burger {
    display: block; /* Affiche le burger */
  }
  /* Affichage du menu quand on clique sur le burger */
  .navbar-links.is-active {
    display: flex; /* Affiche les liens de navigation sous forme de colonne */
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 60px; /* Ajuste la position en dessous de la navbar */
    right: 0;
    width: 100%;
    background-color: #dadada;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le dropdown */
  }
}
.main {
  padding: 64px;
  background-color: #dadada;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 108px;
}
.section-left {
  display: flex;
  flex-direction: column;
  color: #004D26;
  font-size: 46px;
  font-weight: 600;
}
.section-left-effect {
  position: relative;
  font-weight: 700;
  color: #00BD5E;
}
.section-left-effect svg {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -16px;
}
.section-right {
  max-width: 530px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .section-content {
    flex-direction: column;
  }
}
.card {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 60px;
  padding: 20px;
}
.card .img-left {
  flex-shrink: 0;
}
.card .maison-img {
  border-radius: 16px;
  width: 500px;
  height: 390px;
  object-fit: cover;
}
.card .card-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
}
.card .card-right .card-renovation,
.card .card-right .card-energie,
.card .card-right .card-adaptation {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 270px;
  height: 390px;
  padding: 20px;
}
.card .card-right .card-title {
  font-weight: bold;
  margin-top: 10px;
}
.card .card-right .card-button {
  margin-top: auto;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  transition: all 0.5s;
}
.card .card-right .card-button-primary {
  margin-top: 70px;
  border: 1px solid #2E2E2E;
  color: #2E2E2E;
}
.card .card-right .card-button-primary:hover {
  border-color: #005e00;
  color: #005e00;
}
.card .card-right .card-button-secondary {
  color: #2E2E2E;
}
.card .card-right .card-button-secondary:hover {
  background-color: #defdde;
  color: #003f00;
}

@media (max-width: 768px) {
  /* Styles pour les écrans plus petits */
  .card {
    display: flex;
    flex-direction: column; /* Colonne sur les petits écrans */
    align-items: center;
  }
  .card .card-right {
    flex-direction: column;
    align-items: center;
  }
  .maison-img {
    width: 100%; /* Prend toute la largeur de l’écran */
    height: auto; /* Ajuste la hauteur pour garder le ratio */
    max-width: 342px; /* Largeur maximale pour éviter d'être trop grand */
  }
  .card-right {
    display: flex;
    flex-direction: column; /* Empile les cartes verticalement */
    margin-left: 0; /* Supprime le décalage latéral */
    margin-top: 20px;
    gap: 20px; /* Espacement entre les cartes */
    width: 100%; /* Prend toute la largeur de l'écran */
  }
  .card-renovation,
  .card-energie,
  .card-adaptation {
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 342px; /* Largeur maximale sur les petits écrans */
    height: auto; /* Ajuste la hauteur automatiquement */
  }
}
.list-logo {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centre verticalement */
  height: 48px; /* Hauteur fixe pour le conteneur */
  gap: 80px; /* Espacement entre les logos */
}

.list-logo img {
  height: auto; /* Hauteur automatique pour conserver le ratio */
  max-height: 90%; /* Ne pas dépasser la hauteur du conteneur */
}

/* Styles spécifiques pour chaque logo */
.logo-az {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 40px; /* Largeur spécifique pour le logo AZ */
  height: 30px;
}

.logo-brgm {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 124px; /* Largeur spécifique pour le logo AZ */
  height: 48px;
}

.logo-banque-postale {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 69px; /* Largeur spécifique pour le logo AZ */
  height: 48px;
}

.logo-thelem {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 102px; /* Largeur spécifique pour le logo AZ */
  height: 48px;
  fill: gray;
}

.logo-bpce {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 127px; /* Largeur spécifique pour le logo AZ */
  height: 48px;
}

.logo-ign {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 58px; /* Largeur spécifique pour le logo AZ */
  height: 27px;
}

.logo-credit-mutuel {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 227px; /* Largeur spécifique pour le logo AZ */
  height: 48px;
}

.logo-suravenir {
  filter: grayscale(100%); /* Rend toutes les images en gris */
  width: 133px; /* Largeur spécifique pour le logo AZ */
  height: 48px;
}

@media (max-width: 768px) {
  .logo-suravenir {
    display: none;
  }
  .logo-credit-mutuel {
    display: none;
  }
  .logo-ign {
    display: none;
  }
  .logo-bpce {
    display: none;
  }
}
.section-info {
  display: flex;
  margin-top: 200px;
  height: 574px;
  border: 1.5px solid #2E2E2E;
  border-radius: 32px;
  padding: 48px;
  justify-content: space-between;
}

.element-left {
  height: 478px;
  width: 360px;
  justify-content: space-between;
}
.element-left .section-renovation,
.element-left .section-energie,
.element-left .section-adaptation {
  display: flex; /* Ajoute display flex ici si nécessaire */
  flex-direction: column; /* Pour aligner les sections verticalement */
  align-items: center;
  width: 360px;
  height: 132px;
  border-radius: 12px;
  padding: 24px;
  gap: 8px;
  margin-bottom: 41px;
}
.element-left .section-renovation:hover,
.element-left .section-energie:hover,
.element-left .section-adaptation:hover {
  background-color: rgba(255, 255, 255, 0.7137254902);
}

.element-right {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
  gap: 40px;
  width: 872px;
  height: 478px;
  align-items: center;
}

.element-right-info {
  position: relative;
  width: 380px;
  height: 414px;
  gap: 40px;
}

.title-info {
  height: 132px;
  font-size: 36px;
  font-weight: bold;
}

.text-info {
  height: 114px;
  font-size: 18px;
  line-height: 28px;
}

.title-effect-purple {
  position: relative;
  font-weight: 700;
  color: #7C5AD3;
}

.info-button {
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  transition: all 0.5s;
  margin-top: 70px;
  border: 1px solid #2E2E2E;
  color: #2E2E2E;
}
.info-button:hover {
  border-color: #005e00;
  color: #005e00;
}

.element-right-image {
  position: relative;
  width: 388px;
  height: 414px;
}

.foret-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Query pour les écrans de moins de 768px */
@media (max-width: 768px) {
  .section-info {
    margin-top: 20px;
    flex-direction: column; /* Change la direction en colonne */
    align-items: center; /* Centre les éléments */
    padding: 24px; /* Réduis le padding pour les petits écrans */
    border: none; /* Enlève la bordure */
  }
  .element-left,
  .element-right {
    width: 100%; /* Prend 100% de la largeur du conteneur */
    height: auto; /* Laisse la hauteur s'ajuster */
  }
  .element-right {
    display: flex;
    flex-direction: column-reverse; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments à l'intérieur */
  }
  .element-right-info {
    width: 100%; /* Utilise 100% de la largeur pour le texte */
    height: auto; /* Ajuste la hauteur automatiquement */
  }
  .element-right-image {
    width: 100%; /* Utilise 100% de la largeur pour l'image */
    height: auto; /* Ajuste la hauteur automatiquement */
  }
  .element-left {
    align-items: center;
    display: flex;
  }
  .element-left p {
    display: none; /* Cache les paragraphes si besoin */
  }
  /* Styles modifiés pour les sections de rénovation, énergie et adaptation */
  .section-renovation,
  .section-energie,
  .section-adaptation {
    align-items: center;
    width: 100%; /* Change la largeur pour s'adapter à l'écran */
    height: auto; /* Laisse la hauteur s'ajuster automatiquement */
    border-radius: 12px;
    padding: 8px; /* Ajuste le padding pour petits écrans */
    gap: 8px;
    margin-bottom: 20px; /* Ajuste l'espacement entre les sections */
    /* Optionnel : Ajoute une couleur d'arrière-plan pour mieux visualiser */
    background-color: #f0f0f0; /* Exemple de couleur d'arrière-plan */
  }
  .section-renovation:hover,
  .section-energie:hover,
  .section-adaptation:hover {
    background-color: rgba(255, 255, 255, 0.7137254902);
  }
}
.element-savoir {
  display: flex;
  margin-top: 100px;
  height: 216px;
  border-radius: 24px;
  justify-content: space-between;
  padding: 64px;
  background-color: #E7F9EA;
}

.title-savoir {
  font-weight: bold;
  font-size: 36px;
  color: #004D26;
}
.title-savoir .effect-green {
  color: #00BD5E;
}

.button-savoir {
  width: 258px;
  height: 56px;
  padding: 24px; /* Ajout du padding */
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
  border-radius: 8px;
  font-weight: 600;
  background-color: #00BD5E;
  color: #FAFAFA;
  transition: background-color 0.5s;
}
.button-savoir:hover {
  background-color: #01994d;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 428px;
  padding: 64px 64px 32px 64px;
  gap: 32px;
  background-color: #1F1F1F;
}

.container-footer {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: space-between;
}

.footer-renovation, .footer-energie, .footer-adaptation, .footer-ressources, .footer-propos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
}
.footer-renovation h1, .footer-energie h1, .footer-adaptation h1, .footer-ressources h1, .footer-propos h1 {
  color: #E7F9EA;
  font-size: 16px;
  gap: 8px;
}
.footer-renovation span, .footer-energie span, .footer-adaptation span, .footer-ressources span, .footer-propos span {
  color: #D4D4D4;
  font-size: 18px;
  gap: 8px;
}

.footer-border {
  margin-top: 40px;
  width: 100%;
  max-width: 1384px;
  border: 1px solid #404040;
}

.bottom-footer {
  display: flex;
  width: 1384px;
  height: 29px;
  justify-content: space-between;
}

.bottom-footer-mot {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.bottom-footer-mot a {
  color: #D4D4D4;
  text-decoration: none;
  font-size: 16px;
  padding: 0 10px;
  border-right: 1px solid #404040; /* Ligne de séparation à droite de chaque lien */
}

.bottom-footer-mot a:last-child {
  border-right: none; /* Pas de bordure pour le dernier lien */
}/*# sourceMappingURL=app.css.map */